.red-head {
    color: rgb(93, 10, 10);
    padding: 25px;
    font-size: 18px;
}

img {
    width: 350px;
    height: 500px;
    padding: 20px;
    border-style: solid;
}

div {
    
    font-size: 17px;
}

section {
    font-size: larger; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}

article {
    text-align:center;
}

strong {
    color: black;
}

.w-100 {
    width: 100%;
}